<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.colinmarsch.dawn">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmActivity"
            android:excludeFromRecents="true"
            android:immersive="true"
            android:launchMode="singleTask"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:turnScreenOn="true"
            tools:targetApi="o_mr1" />
        <activity
            android:name=".InAppActivity"
            android:excludeFromRecents="true"
            android:immersive="true"
            android:launchMode="singleTask"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:taskAffinity=""
            android:turnScreenOn="true"
            tools:targetApi="o_mr1" />
        <activity android:name=".GetUpDelayActivity" />
        <activity android:name=".StayOffActivity" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>